<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogar Colombia</title>
    <script src="https://kit.fontawesome.com/611dfec7f1.js" crossorigin="anonymous"></script><!-- Para hacer uso de los iconos de Fontawesome -->
    <link rel="shortcut icon" href="img/HogarColombia.ico"><!-- Favicon de HogarColombia -->
    
    <!-- Estilos de bootstrap -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
</head>
<body>
    <header class="header">
        <section class="headerContainer ownContainer" 
        style="background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),url('../../../assets/img/headerHome.jpg');
                background-size: cover;
                clip-path: polygon(50% 0%, 82% 12%, 82% 6%, 91% 6%, 91% 15%, 100% 19%, 100% 100%, 0 100%, 0 18%);
                width: 100% !important;
                height: 100% !important;
                ">
            <h1 class="headerTitle">Visión</h1>
            <p class="headerParagraph mision"><b>Soy la Visión</b> lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo architecto rem natus, voluptate iure aliquam. Magnam quaerat nostrum nulla tempore explicabo aspernatur a nam error! Eum natus unde maxime molestiae officia soluta omnis nemo quam tenetur tempora? Expedita adipisci aut deserunt magnam, at, reprehenderit harum saepe odit voluptatibus dolor et</p>

            <h1 class="headerTitle">Misión</h1>
            <p class="headerParagraph mision"><b>Soy la Misión</b> lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, maxime?</p>
            <!-- <button class="headerLink" onclick="cambiarTexto()">Visión</button> -->
        </section>
    </header>
    <main>
        <section class="catalog">
            <div class="catalogFilters">
                <div class="filterItem">
                    <input type="radio" name="offerType" id="alquiler">
                    <label class="left" for="alquiler">Alquiler</label>
                </div>
                <div class="filterItem right">
                    <input type="radio" name="offerType" id="compra">
                    <label class="right" for="compra">Compra</label>
                </div>
            </div>
            <div class="catalogContent">
                <div class="properties">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../../../assets/img/casaCatalogo1.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">$180.000.000</h5>
                          <h6 class="card-subtitle mb-2 text-muted"><i class="fa-solid fa-location-dot"></i> Bogotá D.C</h6>
                          <a href="#" class="btn btn-primary">Ver más</a>
                        </div>
                    </div>
                </div>
                <div class="viewAll">
                    <a href="#" class="btn btn-viewAll btn-lg"><i class="fa-sharp fa-solid fa-arrow-down"></i> Ver todas las ofertas</a>
                </div>
            </div>
        </section>
        <section class="contactUs">
            <h1 class="title">Contáctanos</h1>
            <form>
                <div class="form-row formFilters">
                    <div class="formFilter">
                        <input type="radio" name="formOffer" id="alquilerF">
                        <label class="left" for="alquilerF">Alquiler</label>
                    </div>
                    <div class="formFilter right">
                        <input type="radio" name="formOffer" id="compraF">
                        <label class="right" for="compraF">Compra</label>
                    </div>
                </div>
                <div class="form-row">
                  <div class="form-group">
                    <label for="inputNombres">Nombres</label>
                    <input type="text" class="form-control" id="inputNombres">
                  </div>
                  <div class="form-group">
                    <label for="inputApellidos">Apellidos</label>
                    <input type="text" class="form-control" id="inputApellidos">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputCorreo">Correo</label>
                  <input type="email" class="form-control" id="inputCorreo" placeholder="Indica tu correo electrónico.">
                </div>
                <div class="form-group">
                    <label for="inputMensaje">Mensaje</label>
                    <textarea class="form-control" id="inputMensaje" rows="5"></textarea>
                  </div>
                <div class="botonEnviar">
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
              </form>
        </section>
    </main>

</body>
</html>