

<body>
  <div class="container">


        <!--agregando el fieldset-->
    <fieldset>
        <legend>Ingresar un nuevo usuario</legend>
        <br>
        <br>

        <div>
            Bienvenido a hogar colombia, tu aplicación inmobiliaria en la que podras encontrar tu casa ideal desde tu navegador. Por favor ingresa tus datos:

        </div>
            <br>
            <br>
        <form class="row g-3 needs-validation" [formGroup]="fgValidador" (ngSubmit)="GuardarUsuario()">
            <div class="col-md-6"><!--columna de 4 con maximo 12 de espacio-->
                    <label for="txtNombres" class="form-label">Nombres</label>
                    <input formControlName="nombres" type="text" class="form-control"  name="nombres">
                <div class="invalid-feedback">
                    Este campo es requerido
                </div>
            </div>

            <div class="col-md-6">
                    <label for="txtApellidos" class="form-label">Apellidos</label>
                    <input formControlName="apellidos" type="text" class="form-control"  name="apellidos">
                <div class="invalid-feedback">
                    Los apellidos son obligatorios
                </div>
            </div>

            <div class="col-md-8">
                    <label for="txtNumeroDocumento" class="form-label">Numero de Documento</label>
                    <input formControlName="documento" type="text" class="form-control"  name="documento">
                <div class="invalid-feedback">
                    Los apellidos son obligatorios
                </div>
            </div>

            <div class="col-md-8">
                    <label for="txtCorreo"  class="form-label">Correo electronico</label>
                <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">@</span>
                        <input formControlName="correo" type="text" class="form-control"  name="correo">
                    <div class="invalid-feedback">
                        Ingrese un correo electronico
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                    <label for="txtCelular" class="form-label">Celular</label>
                    <input formControlName="celular" type="text" class="form-control"  name="celular">
                <div class="invalid-feedback">
                    Ingrese un numero de celular.
                </div>
            </div>

            <div class="col-md-8">                    
                <div class="invalid-feedback">
                    Ingrese un numero de celular.
                </div>
            </div>

            <div class="col-md-6">
                    <label for="selecRol" class="form-label">Rol</label>
                <select formControlName="rol" type="text" class="form-control"  name="rol">
                    <option value="" selected>--Seleccionar rol--</option>
                    <option value="asesor">Asesor</option>
                    <option value="cliente">Cliente</option>
                    <option value="administrador">Administrador</option>
                    <option value="configurador">Configurador</option>
                </select>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
            </div>

            <div class="col-12">
                <button  type="submit" class="btn btn-success">Registrarse</button>
            </div>
        </form>
        
   
    </fieldset>
  </div>
