<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/jhoan-david-lozano-rubiano-3810b3246/" target="_blank"role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/fabio-mar%C3%ADn-80500496/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/FADEDevs/Frontend_HogarCo" target="_blank" role="button"
        ><i class="fab fa-github"></i
      ></a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/alejadev/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/edwar-felipe-garcía-patiño-336460233/" target="_blank" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://github.com/FADEDevs" target="_blank">FADEvs C4 Grupo 67</a>
  </div>
  <!-- Copyright -->
</footer>